<turbo-stream action="replace" target="result">
  <template>
    <div id="result">
      <% if @given_answer == @expected_answer %>
        <p><strong>Correct!</strong></p>
      <% else %>
        <p><strong>Incorrect... Try again.</strong></p>
        <details>
          <summary>The correct answer is...</summary>
          <p class="botanical_name"><%= @expected_answer %></p>
        </details>
      <% end %>
    </div>
  </template>
</turbo-stream>
