<h1>Cuprocyparis leylandii</h1>

<h2>How to pronounce</h2>

<p>Cu-pro-cyparis</p>

<h2>Common Name</h2>

<p>Leyland cypress</p>

<h2>Description</h2>

<p>A large, fast-growing, dense conifer of columnar habit which can reach heights in excess of 30m if unchecked. Its dense foliage forms flattened, slightly drooping sprays of scale-like leaves.</p>

<h2>Details</h2>

<dl>
  <dt>Classification:</dt>
  <dd>Tree</dd>

  <dt>Hardiness level:</dt>
  <dd>H6</dd>

  <dt>Light requirements:</dt>
  <dd>Full sun and partial shade</dd>

  <dt>Foliage:</dt>
  <dd>Evergreen</dd>

  <dt>Ultimate height:</dt>
  <dd>Greater than 12 metres</dd>

  <dt>Ultimate spread:</dt>
  <dd>4–8 metres</dd>

  <dt>Time to ultimate height:</dt>
  <dd>10-20 years</dd>

  <dt>Harmful effects:</dt>
  <dd>Can cause skin irritation</dd>

  <dt>Habit:</dt>
  <dd>Columnar upright</dd>

  <dt>Exposure:</dt>
  <dd>Exposed or Sheltered</dd>

  <dt>AGM:</dt>
  <dd>No</dd>

  <dt>Native to the UK:</dt>
  <dd>No</dd>

  <dt>Suitable for hedging:</dt>
  <dd>Yes</dd>

  <dt>Lime avoiding:</dt>
  <dd>No</dd>

  <dt>Major plant group:</dt>
  <dd>Gymnosperm</dd>

</dl>

<h2>Addtional information</h2>

<ul>
  <li>Must be trimmed a few times a season to maintain</li>
  <li>Does not grow back if old wood is cut back</li>
  <li>Good for air quality</li>
</ul>